NODE_ENV=development

DATABASE_USERNAME=prisma
DATABASE_PASSWORD=topsecret
DATABASE_NAME=mydb
DATABASE_HOST=postgres
PORT=3000
APP_NAME="Biberon App"
APP_URL=http://localhost:4000

# logger settings
ORGANIZATION=biberon
CONTEXT=dev
APP=backend

DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:5432/${DATABASE_NAME}?schema=public

# JWT settings

JWT_SECRET=top-top-top-top-top-top-top-top-top-secret
JWT_PASSWORD_RESET_EXPIRATION_TIME=1d
JWT_ACCESS_TOKEN_EXPIRATION_TIME=10m
REFRESH_TOKEN_EXPIRATION_TIME=7d


# Cookie settings

COOKIE_DOMAIN=.localhost

# Google OAuth settings
GOOGLE_CLIENT_ID=431117783887-ctbocqlnq5q89qujeea9hc3e1bb1g3gg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# Maildev settings

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=no-reply@biberonapp.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080
